@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #0ea5a4;
  --accent: #10b981;
}
body{font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;}
.iframe-wrap iframe{display:block;}
